.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.display-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 20px;
  color: white;
  outline: none;
}

.display-btn:hover {
  border: 3px solid white;
  cursor: none;
}

.tooSmall{
  display: none;
}

@media only screen and (max-width: 700px) {
  .tooSmall{
    display: block;
    color: white;
    font-size: 30px;
    line-height: 60px;
    padding: 100px;
  }
}
