
.display {
  font-family: Roboto;
  height: calc(100% - 100px);
  width: calc(100% - 500px);

  transition: width, height;
  transition-duration: 0.7s;
  transition-timing-function: ease;

  position: absolute;
  bottom: 0px;
  right: 0px;

  background: var(--background-color);
  color: var(--text-color);
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 1);
  overflow: scroll;
  /* border: 10px solid blue; */
}

.full-screen {
  right: 0px;
  width: 100%;
  height: 100%;
}

.display-content {
  /* border: 1px solid white; */
  width: 600px;
  margin: 100px auto;
  box-sizing: border-box;
  font-size: var(--text-size);
  line-height: var(--height-size);
}

.display h1, .display h2, .display h3, .display h4, .display h5, .display h6 {
  color:var(--title-color);
}

.display h1 {
  text-align: center;
}

.display a {
  color: var(--highlights-color);
  text-decoration: none;
  cursor: none;
}

.display a:hover{
  border-bottom: 1px dotted;
  padding-bottom: 5px;
}


.contains-task-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.task-list-item{
  padding: 20px 0px;
}

.task-list-item-checkbox:checked {
  display: none;
}
.task-list-item-checkbox:enabled{
  display: none;
}



@media only screen and (max-width: 1200px) {
  .display {
    width: 50%;
  }
  .display-content {
    width: 95%;
  }
  .full-screen {
    right: 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1070px) {
  .display {
    height: calc(100% - 150px);
  }
  .full-screen {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .display{
    display: none;
  }
}
