html, body {
  margin: 0px;
  padding: 0px;
  font-family: helvetica, arial, sans-serif;
  background: rgb(10, 10, 10);
}

:root {
  --background-color: #000a15;
  --text-color: #ffffff;
  --title-color: #a0bd9a;
  --highlights-color: #ddff00;

  --text-size: 15px;
  --height-size: 30px;

  --animation-duration: 0.7s;
}
